<%= for user <- @guests do %>
  <div class="flex justify-between">
        <span><%= link user.name, to: Routes.user_path(@conn, :show, user) %></span>
        <%= if @event.host == @conn.assigns.current_user do %>
        <span><%= link "Remove", to: Routes.event_guest_path(@conn, :delete, @event.id, user), method: :delete, data: [confirm: "Are you sure?"] %></span>
      <% end %>
  </div>

<% end %>

<%# <span><%= link "New Guest", to: Routes.guest_path(@conn, :new) %1></span> %>
