<h2 class="">Comments</h2>
  <%= render ListappWeb.CommentView, "form.html", action: Routes.event_comment_path(@conn, :create, @event.id), changeset: @changeset %> 
  <%= render_many @event.comments, ListappWeb.CommentView, "show.html", conn: @conn%>
