<%= form_for @item_changeset, @action, fn f -> %>
  <%= if @item_changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <%= label f, :name, "Add Item" %>
  <%= text_input f, :name %>
  <%= error_tag f, :name %>
  
  <%= submit "Add" %>
<% end %>
