<%= @item.name %>
      <%# <%= form_for @conn, Routes.event_item_path(@conn, :delete, @event.id, item.id), [method: :delete, as: :user], fn _f -> %1> %>
      <%#   <1%# <div class="form-group"> %1> %>
      <%#     <%= submit "Delete" %1> %>
      <%#   <1%# </div> %1> %>
      <%# <% end %1> %>
